<!-- ===================== auth.layout.hbs ===================== -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{title}} {{#if settings.general.appName}} - {{settings.general.appName}}{{/if}}</title>

  <!-- MUI CSS -->
  <link rel="stylesheet" href="https://cdn.muicss.com/mui-0.10.3/css/mui.min.css" />

  <!-- Google Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/style.css" />

  {{{_sections.styles}}}
</head>

<body>

  <!-- Auth Content -->
  {{{body}}}

  <!-- MUI JS -->
  <script src="https://cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>

  {{{_sections.scripts}}}
</body>
</html>
