<div class="container section">

  <!-- Header -->
  <div class="row valign-wrapper">
    <div class="col s12 m8">
      <h4 class="no-margin">All Plans</h4>
    </div>
    <div class="col s12 m4 right-align">
      <a href="/super-admin/plans/create"
         class="btn waves-effect waves-light blue">
        <i class="material-icons left">add</i>
        Add New Plan
      </a>
    </div>
  </div>

  {{> flashMessages}}

  <!-- Plans Grid -->
  <div class="row">
    {{#each plans}}
    <div class="col s12 m6 l4">
      <div class="card hoverable">

        <div class="card-content">

          <!-- Card Header -->
          <div class="row valign-wrapper">
            <div class="col s8">
              <span class="card-title">{{this.name}}</span>
            </div>
            <div class="col s4 right-align">
              {{#if this.isActive}}
                <span class="chip green white-text">Active</span>
              {{else}}
                <span class="chip grey lighten-1">Inactive</span>
              {{/if}}
            </div>
          </div>

          <!-- Price -->
          <p class="grey-text text-darken-1">
            <i class="material-icons tiny">attach_money</i>
            <strong>{{this.price}}</strong>
            {{#if this.billingCycle}} / {{this.billingCycle}}{{/if}}
          </p>

          <!-- Description -->
          {{#if this.description}}
            <p class="grey-text text-darken-2">{{this.description}}</p>
          {{/if}}

          <!-- Features -->
          {{#if this.features}}
          <ul class="collection with-header">
            <li class="collection-header">
              <span class="grey-text text-darken-1">Features</span>
            </li>
            {{#each this.features}}
              <li class="collection-item">
                <i class="material-icons tiny green-text left">check_circle</i>
                {{this}}
              </li>
            {{/each}}
          </ul>
          {{/if}}

          <!-- Resource Limits -->
          <div class="section small grey-text text-darken-1">
            <div class="row no-margin">
              <div class="col s6">
                <i class="material-icons tiny">people</i> Students
              </div>
              <div class="col s6 right-align">
                {{#if this.maxStudents}}{{this.maxStudents}}{{else}}Unlimited{{/if}}
              </div>
            </div>

            <div class="row no-margin">
              <div class="col s6">
                <i class="material-icons tiny">badge</i> Staff
              </div>
              <div class="col s6 right-align">
                {{#if this.maxStaff}}{{this.maxStaff}}{{else}}Unlimited{{/if}}
              </div>
            </div>

            <div class="row no-margin">
              <div class="col s6">
                <i class="material-icons tiny">school</i> Classes
              </div>
              <div class="col s6 right-align">
                {{#if this.maxClasses}}{{this.maxClasses}}{{else}}Unlimited{{/if}}
              </div>
            </div>

            <div class="row no-margin">
              <div class="col s6">
                <i class="material-icons tiny">view_module</i> Sections
              </div>
              <div class="col s6 right-align">
                {{#if this.maxSections}}{{this.maxSections}}{{else}}Unlimited{{/if}}
              </div>
            </div>
          </div>

        </div>

        <!-- Actions -->
        <div class="card-action">
          <div class="row no-margin">
            <div class="col s6">
              <a href="/super-admin/plans/edit/{{this._id}}"
                 class="btn-flat blue-text">
                <i class="material-icons left">edit</i>Edit
              </a>
            </div>
            <div class="col s6 right-align">
              <form action="/super-admin/plans/delete/{{this._id}}"
                    method="POST"
                    onsubmit="return confirm('Are you sure you want to delete this plan?');">
                <button type="submit"
                        class="btn-flat red-text">
                  <i class="material-icons left">delete</i>Delete
                </button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
    {{else}}

    <!-- Empty State -->
    <div class="col s12">
      <div class="card-panel blue lighten-5 blue-text text-darken-2">
        No plans found.
        <a href="/super-admin/plans/create" class="blue-text text-darken-4">
          Add a new plan
        </a>
      </div>
    </div>

    {{/each}}
  </div>
</div>
